[DEFAULT]
ignoreip = 127.0.0.1/8
usedns = warn
enabled = false
bantime = 600
findtime = 600
maxretry = 5
banaction = firewallcmd-ipset
banaction_allports = firewallcmd-allports

[recidive]
enabled = true
bantime = -1
findtime = 259200
maxretry = 3

{% if fail2ban_enabled_sshd %}
[sshd]
enabled = true
mode = aggressive
{% endif %}
